  <table><tr><td>
  <div class="span3">
    <div class="well sidebar-nav" style=" width : 400px;">
      <ul class="nav nav-list">
        <li class="nav-header"></li>
        <%= form_for @user do |f| %>
      </ui>
      <table><tr>
        <td>
          <div class="muted"><h4>Manage your account</h4></div>
        </td><td>
           <div style="padding-left: 80px;"><%= image_tag @user.avatar.url, :heigth => "200px", :width => "200px", :id=>"display"%></div>
        </td></tr></table>
      <div style="padding-top: 30px;">
      <table>
       <tr><td>
            <%= f.label :avatar %>
          </td><td>
            <table><tr><td>
            <%= f.file_field :avatar, :onchange => "readURL(this)", :style=> "width: 80px; padding-bottom: 10px;" %>
          </td><td>
            <input type="text" id="display_file_name" class="span2" disabled="disabled">
          </td></tr></table>
        </td></tr><tr><td>
            <%= f.label :email %>
          </td><td>
            <%= f.email_field :email %>
        </td></tr><tr><td>
            <%= f.label :Firstname %>
          </td><td>
            <%= f.text_field :firstname %>
        </td></tr><tr><td>
            <%= f.label :LastName %>
          </td><td>
            <%= f.text_field :lastname %>
        </td></tr><tr><td>
            <%= f.label :Role %>
        </td><td>
          	<% collection = [] %>
	      	<% @roles.each { |role| collection << [role.name, role.id] } %>
	      	<%= f.select :role , collection, :selected => @selected_id %>
        </td></tr><tr><td>
          	<%= f.label :gender %>
        	</td><td>
          	<%= f.select :gender, options_for_select([["",""],["Male", "male"],["Female", "female"]], :selected => current_user.gender) %>
        </td></tr><tr><td>
          	<%= f.label :birthdate %>
          	</td><td>
          	<%= f.date_select :birthdate,{:order => [:day, :month, :year]} %>
        </td></tr><tr><td>
          	<%= f.submit "Update", :class => "btn btn-primary" %>
          </td></tr></table>
        <% end %>
      </div>
    </div>
  </div>

</td></tr><tr><td>

</td></tr></table>



<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#display').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);

            $("#display_file_name").val(input.files[0].name);
        }
    }
</script>