<%text = "What\'s going on, "+@current_user.firstname %>

<table><tr><td>

	<div class="span3">
	  <div class="well sidebar-nav" style=" height : 600px;">
	    <ul class="nav nav-list">
	      <li class="nav-header">Hello! <%= current_user.firstname %></li>
	      <li><div><%= image_tag current_user.avatar.url(:medium), :id=>"display"%></div></li>
	    </ul>
	  </div><!--/.well -->
	</div><!--/span-->

</td><td>

	<div class="span8">
	  <div class="well sidebar-nav">
	  	Post your status here<br />
	  	<%= form_for @news, :url => news_index_path do |f| %>
		  	<%= f.text_area :status, :placeholder => text, :style=>" width: 500px; resize: none;", :rows=>"3", %><br />
		  	<%= f.submit "Post", :class => "btn btn-primary" %>
		  	<span class="clear_text"><input type="button" class="btn clear" value="Clear"></span>
	  	<%end%>
	  </div><!--/.well -->
	</div><!--/span-->

	<% @feeds.each do |news| %>
	<div class="span8">
	  <div class="well sidebar-nav">

	  	<a href="#"><%= User.find(news.user_id).firstname %></a><br />
	  	<div > <%= news.status %></div><br />
			<%= form_for @comment, :url => comments_path do |f| %>
			  	<%= f.text_area :body, :placeholder => "What you say?", :style=>"width: 500px; resize: none;", :rows=>"2", %><br />
			  	<%= f.hidden_field :news_owner, :value => news.user_id %>
			  	<%= f.submit "Post", :class => "btn btn-primary" %>
		  	<span class="clear_text"><input type="button" class="btn clear" value="Clear"></span>
	  	<%end%>

	  </div><!--/.well -->
	</div><!--/span-->
      <br />
    <% end %>

</td></tr></table>

<script type="text/javascript">

(function($){
	$('.clear_text').on('click', clear);

	function clear(){
		$('textarea').val('')
	}

}(jQuery));

</script>
