<%text = "What\'s going on, @current_user.first_name" %>

<table><tr><td>

	<div class="span3">
	  <div class="well sidebar-nav" style=" height : 600px;">
	    <ul class="nav nav-list">
	      <li class="nav-header">Hello! @current_user.first_name</li>
	      <li>@display picture </li>
	    </ul>
	  </div><!--/.well -->
	</div><!--/span-->

</td><td>

	<div class="span8">
	  <div class="well sidebar-nav">
	  	Post your status here<br />
	  	<%= form_for @news, :url => news_index_path do |f| %>
		  	<%= f.text_area :status, :placeholder => text, :style=>" width : 500px;", :rows=>"3", :resize => "none" %><br />
		  	<%= f.submit "Post", :class => "btn btn-primary" %>
		  	<span class="clear_text"><input type="button" class="btn clear" value="Clear"></span>
	  	<%end%>
	  </div><!--/.well -->
	</div><!--/span-->

	<% @feed_news.each do |news| %>
	<div class="span8">
	  <div class="well sidebar-nav">
	  	<a href="#"><%= User.find(news.friend_id).firstname %></a><br />
	  	<div > <%= News.find_by_user_id(news.friend_id).status %></div><br />

	  	<textarea placeholder = "what you say " style=" width : 500px; resize: none" rows="2" ></textarea><br />
	  	<input type="button" class="btn btn-primary comment" value="Post">
	  </div><!--/.well -->
	</div><!--/span-->
      <br />
    <% end %>

</td></tr></table>

<script type="text/javascript">

(function($){
	$('.clear_text').on('click', clear);

	function clear(){
		$('textarea').val('')
	}






	// $('.show_hide_all_btn').on('click', show_hide);
	// $('.show_hide_each').on('click', show_hide_each);

	// var info = {
	// 	hide: {
	// 		anim: 'slideUp', text: 'Show All', next_action: 'show', text_each: 'Show'
	// 	},
	// 	show: {
	// 		anim: 'slideDown', text: 'Hide All', next_action: 'hide', text_each: 'Hide'
	// 	}
	// };

	// function show_hide(evt) {
	// 	var $t = $(evt.currentTarget),
	// 		action = $t.attr('data-btn-action');
	// 	evt.preventDefault();
	// 	$('.contract-detail')[info[action].anim](0);
	// 	$t.text(info[action].text).attr('data-btn-action', info[action].next_action);
	// 	$('.show_hide_each').text(info[action].text_each);
	// }

	// function show_hide_each(evt) {
	// 	var $t = $(evt.currentTarget),
	// 		$detail = $t.closest('tr').next('.contract-detail'),
	// 		visible = $detail.filter(':visible').length ? true : false;
	// 	evt.preventDefault();
	// 	$detail[ visible ? 'slideUp' : 'slideDown'](0);
	// 	$t.text(visible ? 'Show' : 'Hide');
	// }

}(jQuery));

</script>
