<%text = "What\'s going on, "+@current_user.firstname %>

<table><tr><td>

	<div class="span3">
	  <div class="well sidebar-nav" style=" height : 600px;">
	    <ul class="nav nav-list">
	      <li class="nav-header">Hello! <%= current_user.firstname %></li>
	      <li><div><%= image_tag current_user.avatar.url(:medium), :id=>"display"%></div></li>
	    </ul>
	  </div><!--/.well -->
	</div><!--/span-->

</td><td>

	<div class="span8">
	  <div class="well sidebar-nav">
	  	Post your status here!<br />
	  	<%= form_for @news, :url => news_index_path do |f| %>
		  	<%= f.text_area :status, :placeholder => text, :style=>" width: 500px; resize: none;", :rows=>"3", %><br />
		  	<%= f.submit "Post", :class => "btn btn-primary" %>
		  	<span class="clear_text"><input type="button" class="btn clear" value="Clear"></span>
	  	<%end%>
	  </div><!--/.well -->
	</div><!--/span-->

	<% @feeds.each do |news| %>
	<%owner = User.find(news.user_id)%>
	<div class="span8">
	  <div class="well sidebar-nav">
	  	<table><tr>
	  		<td>
		  		<div ><%= image_tag owner.avatar.url(:thumb), :height =>"50px", :width => "50px",
		  		:style=> "padding-bottom: 20px;" %></div>
		  	</td><td>
		  		<div style="padding-left: 20px;">
			  	<a href="#"><%= owner.firstname %></a><br />
		  	<div class="text-error"> <%= news.status %></div><br />
			  </div>
		 </td></tr></table>
	  	<% news.comments.each do |comment|%>
		  	<table><tr>
		  		<td>
			  		<div ><%= image_tag owner.avatar.url(:thumb), :height =>"50px", :width => "30px",
			  		:style=> "padding-bottom: 20px;"%></div>
		  		</td><td>
			  		<div class="text-warning" style="padding-left: 20px;"> <%= comment.body %></div><br />
			 </td></tr></table>
	  	<%end%>

			<%= form_for @comment, :url => comments_path do |f| %>
			  	<%= f.text_area :body, :placeholder => "What you say?", :style=>"width: 500px; resize: none;", :rows=>"2", %><br />
			  	<%= f.hidden_field :news_id, :value => news.id %>
			  	<%= f.submit "Post", :class => "btn btn-primary" %>
		  	<span class="clear_text"><input type="button" class="btn clear" value="Clear"></span>
	  	<%end%>

	  </div><!--/.well -->
	</div><!--/span-->
      <br />
    <% end %>

</td></tr></table>
<div style="padding-left: 270px;" ><%= paginate @feeds %></div>
<script type="text/javascript">

(function($){
	$('.clear_text').on('click', clear);

	function clear(){
		$('textarea').val('')
	}

}(jQuery));

</script>
