<div class="user_detail span3">
	<%= render  :partial => "partial/user_detail" %>
</div>

<% @friends.each do |user| %>
	<div class="span8">
	  <div class="well sidebar-nav" >
	  	<table>
			<tr>
				<td>
				    <ul class="nav nav-list">
				      <li><div><%= image_tag user.avatar.url(:medium) %></div></li>
				    </ul>
				</td><td>
					<div class="text-info" >
					 <span><h1>First name: <%= user.firstname %></h1></span>
				     <span><h1>Last name: <%= user.lastname %></h1></span>
				     <span><h1>Email: <%= user.email %></h1></span>
					</div>
				</td><td>
					<div style="padding-left: 100px;">
					<%= link_to "Unfriend", friendship_path(user), :method => :delete, :confirm => 'Are you sure?', :class => "btn btn-small btn-danger" %>
					</div>
				</td>
			</tr>
		</table>
	  </div><!--/.well -->
	</div><!--/span-->

<%end%>

</td></tr></table>
