<div class="span8">
	<div class="well sidebar-nav">
		<% if params[:username] == current_user.username %>
			<%= render :partial => "partial/new_post" %>
		<% else %>
			<%= render :partial => "partial/new_post_to_friend" %>
		<% end %>
	</div>
<% @friend_poster.each do |post| %>
	<div class="well cwell">
	<div id="posts">
		<%= render :partial => 'partial/poster_details', :locals => {:post => post} %>
	</div>
		<ul class="comments">
			<%= render :partial => "partial/each_comment", :locals => {:comments => post.comments} %>
		</ul>
			<%= render :partial => "partial/form_for_comment", :locals => {:post => post} %>
	</div>
<% end %>
</div>

