
	<div class="span5">
		<div class="well sidebar-nav">
			<form class="form-search">
			  <div class="input-prepend" style="margin-top: 13px;">
			  	<button type="submit" class="btn btn-search">Search</button>
			    <input type="text" class="span3 search-query" name="keyword">
			  </div>
			</form>
	  	</div>
  	</div>
	<div class="span8">
<% @results.each do |user| %>
	  <div class="well sidebar-nav" >
	  	<table>
			<tr>
				<td>
				    <ul class="nav nav-list">
				      <li><div><%= image_tag user.avatar.url(:thumb), :height =>"110px", :width => "110px"%></div></li>
				    </ul>
				</td><td>
					<div class="text-info" >
						 <span><h1>First name: <%= user.firstname %></h1></span>
					     <span><h1>Last name: <%= user.lastname %></h1></span>
					     <span><h1>Email: <%= user.email %></h1></span>
					     <span><h1>Age: <%=Time.new.utc.to_date.year - user.birthdate.year %></h1>
					</div>
				</td><td>
					<div style="padding-left: 100px;">

					<%= form_for user, :url => new_friendship_path do |f| %>
						<input type='hidden' value=<%= user.id %> name="friend_id">
					<%= f.submit "+1 Add friend", :class => "btn btn-primary" %>
					<%end%>
					</div>
				</td>
			</tr>
		</table>
	  </div><!--/.well -->
<%end%>
	</div>
