<!DOCTYPE html>
<html>
<head>
  <title>Fakebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Fakebook</a>
    <ul class="nav">
      <li><%= link_to 'Home', posts_path %></li>
      <li><%= link_to 'Manage Account', edit_user_registration_path %></li>
      <li><%= link_to 'Manage Friend', friendships_path %></li>
      <li><%= link_to 'Find Friends', find_friends_path %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>

    </ul>
  </div>
</div>

	<div class="container-fluid">
		<%= flash[:message] %>
		<%= yield %>
	</div>

	<footer id='footer'>
	<p>&copy; Fakebook 2013</p>
	</footer>

  <%= javascript_include_tag "application" %>
</body>
</html>

